<h4>Author E-Mail: <%= note.user.email %></h4>
<p>
  <%= note.body %>
</p>
<% if current_user.id == note.user_id || current_user.admin %>
  <%= link_to 'Delete Note', track_note_url(@track, note), method: :delete %>
<% end %>
