<h1>Create Band</h1>
<% @band.errors.full_messages.each do |msg| %>
  <h3>Errors</h3>
  <div>
    <%= msg %>
  </div>
<% end %>
<form action="<%= bands_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input  name="band[name]" placeholder="band name" />
  <button>Submit</button>
</form>
