<form action="<%= search_results_bands_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input  name="q" placeholder="enter band name" >
  <button>Submit</button>
</form>
